$black: #000000;
$white: #ffffff;
$red: #ab0200;
$light-red: #dd0400;
$dark-red: #781f1b;
$dark-red-2: #770100;
$dark-red-3: #560100;
$dark-yellow: #ab6100;
$light-yellow: #e4a203;
$brown: #793300;
$dark-grey: #303030;
$light-grey: #b0b0b0;
