.container-body-articles {
    margin-bottom: 20px;
}

.container-body-cards {
    display: flex;
    justify-content: space-between;
}

.container-body-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 130px;
    padding: 10px;
    box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.50);
}

.container-body-card-image {
    margin-bottom: 8px;
}

.container-body-card-text {
    display: block;
    font-size: 10px;
    margin-bottom: 8px;
    line-height: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: justify;
}

.container-body-articles-text {
    box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.50);
}

.container-body-text {
    display: block;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 0.7px;
}

.container-body-cards-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.50);
}

.container-body-cards-wrapper-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-right: 10px;
}

.container-body-small-image {
    margin-bottom: 10px;

    &:nth-last-child(1) {
        margin-bottom: 0;
    }
}

.container-body-cards-wrapper-big-image {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid $black;
    padding: 0 10px;
}

.container-body-side-text {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px;
}

.container-body-side-text-wrapper {
    display: flex;
    flex-direction: column;
}

.container-body-side-text-title {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 40px;
}

.container-body-side-text-code {
    display: block;
    font-size: 10px;
    margin-bottom: 8px;
}

.container-body-side-text-paragraph {
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 11px;
}

.container-body-side-price {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}

.container-body-side-button {
    position: relative;
    height: 100%;
}
