.navigation {
    background: $gradient-red-dark;
    border-top: 2px solid $light-red;

    @include mq($ipad) {

        background: none;
        border-top: none;
        order: 1;
        max-height: 0;
        overflow: hidden;
        transition: $dur $ease;
    }
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;

    @include mq($ipad) {
        flex-direction: column;
    }
}

.navigation-wrapper-items {
    border-right: 1px solid $black;
    font-size: 14px;

    &:hover {
        background: $dark-red-2;
    }

    &:nth-child(1) {
        border-left: 1px solid $black;
    }

    @include mq($tablet) {
        display: flex;
        align-items: center;
        text-align: center;
    }

    @include mq($ipad) {
        background: $gradient-red-dark;
        border-top: 2px solid $light-red;
    }
}

.navigation-wrapper-items a{
    color: $white;
    font-size: 12px;

    @include mq($ipad) {
        margin-left: auto;
        margin-right: auto;
    }
}

.navigation-wrapper-items-content {
    display: block;

    @include mq($tablet) {
        img {
            display: none;
        }
    }
}

.navigation-wrapper-items-dropdown {
    background-color: transparent;
    border: none;
    overflow: hidden;
    outline:none;
    color: $white;
    font-size: 12px;

    @include mq($tablet) {
        img {
            display: none;
        }
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    @include mq($ipad) {
        margin-left: auto;
        margin-right: auto;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $dark-red-2;
    z-index: 1;

    @include mq ($ipad) {
        position: static;
    }
}

.dropdown-content a {
    color: $white;
    text-decoration: none;
    width: 160px;
    display: block;
    font-size: 10px;
    padding: 6px 12px;

    @include mq($tablet) {
        text-align: left;
    }
}

.dropdown-content img {
    margin-right: 4px;
}

.dropdown-content a:hover {background-color: $dark-red-3;}

.dropdown:hover .dropdown-content {
    display: block;
}

.show-nav-dropdown {
    @include mq($ipad) {
        max-height: 100vh;
        padding: 10px 0;
    }
}
