.container-body {
    max-width: 960px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @include mq($ipad) {
        margin-top: 98px;
    }
}

.container-body-content {
    display: flex;
    margin-bottom: 40px;
}

.container-body-content-main {
    width: 100%;

    @include mq($ipad) {
        margin: 0 6%;
    }
}

.container-main_content-title {
    display: flex;
    background: $dark-grey;
    padding: 10px;
    border-top: 3px solid $red;
    align-items: center;
    margin-bottom: 8px;
}
