.footer {
    background: url(../assets/footer.png);
    display: flex;
    justify-content: space-around;
    padding: 26px 0;
    max-width: 960px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include mq($custom-breakpoint) {
        flex-direction: column;
        align-items: center;
    }
}

.footer-logo {
    display: flex;
    align-items: center;

    @include mq($custom-breakpoint) {
        margin-bottom: 20px;
    }
}

.footer-content {
    @include mq($custom-breakpoint) {
        margin-bottom: 20px;
    }
}

.footer-content-title-wrapper {
    display: flex;
}

.footer-content-title {
    display: block;
    color: $white;
    font-size: 13px;
    margin-bottom: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-content-links {
    margin-left: 28px;
}

.footer-content-link {
    display: block;
    color: $white;
    font-size: 12px;
    margin-bottom: 10px;
    letter-spacing: 0.7px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer-bottom-image {
    // margin-right: 20px;

    @include mq ($ipad) {
        width: 20%;

        img {
            width: 100%;
            object-fit: scale-down;
        }
    }
}