.nav-bar-padding-helper {
    padding: 12px 18.3px;
}

.no-margin-helper {
    margin-bottom: 0;
}

.position-helper {
    position: absolute;
    bottom: 0;
    right: 0;
}

.show-hide-sidebar {
    max-width: 100vh;
}

.rotate {
    transform: rotate(180deg);
}
